.responsiveness{
    /* background-color: white; */
    /* border:1px solid red; */
    margin:auto;
    width:80%;
    /* margin-top:60px */
    /* overflow: hidden; */
}
/* .slick-prev{
    color:black;
    border:1px solid red
} */