.responsiveness{
    /* background-color: white; */
    /* border:1px solid red; */
    /* margin:0 auto; */
    /* width:90%; */
    overflow: hidden;
}
/* .slick-prev{
    color:black;
    border:1px solid red
} */